.movie-card {
  background-color: #222222;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 270px;
  height: 218px;
}

.movie__description-container {
  display: flex;
  justify-content: space-between;
  margin: 14px 12px;
}

.movie__description {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 0;
}

.movie__info {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
}

.movie__duration {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
  margin: 0;
}

.movie__photo {
  width: 270px;
  height: 151px;
}

.movie__like-button {
  background-image: url("../../images/like-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  background-size: 100% 100%;
  transition: 0.5s ease-in-out;
}

.movie__like-button:hover {
  opacity: 0.8;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}

.movie__like-button_active {
  background-image: url("../../images/like-button-active.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  background-size: 100% 100%;
  transition: 0.5s ease-in-out;
}

.movie__like-button_active:hover {
  opacity: 0.8;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}

.movie__remove-button {
  background-image: url("../../images/remove-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0;
  background-size: 100% 100%;
  transition: 0.5s ease-in-out;
}

.movie__remove-button:hover {
  opacity: 0.8;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.4);
}

@media screen and (max-width: 1220px) {
  .movie-card {
    width: 339px;
    height: 257px;
  }

  .movie__photo {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 700px) {
  .movie-card {
    width: 292px;
    height: 235px;
  }

  .movie__photo {
    width: 292px;
    height: 168px;
  }
}

