.header {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0;
}

.header__navigation {
  align-self: center;
}

.header__signup {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: 0.5s ease-in-out;
}

.header__signup:hover {
  opacity: 0.8;
}

.header__signin-button {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.header__signin-button:hover {
  opacity: 0.8;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}

