.login {
  background-color: #202020;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.login__container {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 645px;
}

.login__user-info {
  display: flex;
  flex-direction: column;
}

.login__save-button {
  margin-top: 190px;
  width: 396px;
  height: 45px;
  padding: 0;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login__save-button:hover {
  opacity: 0.8;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.login__signup {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top:16px;

}

.login__signup-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 0 6px 0 0;
}

.login__signup-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  transition: 0.5s ease-in-out;
}

.login__signup-link:hover {
  opacity: 0.8;
}
